
body{
background-color: black;
}


  .event {
    width: 100%;
    height: 100vh;
   position: relative;
    color: white;
    font-size: 1.5vw;
   

  }
  .para_fir {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 5%;
    position: absolute;
    top: 0;
    left: 0;
  
  }
  .passage{
    width: 100%;
    height: 100vh;
   position: relative;
    color: white;
    font-size: 1.5vw;
  }
  .para_sec {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 5%;
    position: absolute;
    top: 0;
    left: 0;
  
  }
  .img_sec
 {
     width: 50%; 
    height: 100%; 
     display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
  }
  .agni{
    width: 100%;
    height: 100vh;
   position: relative;
    color: white;
    font-size: 1.5vw;
  }
  .para_thi {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 5%;
    position: absolute;
    top: 0;
    left: 0;
  
  }
  .img_thi
 {
     width: 50%; 
    height: 100%; 
     display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
  }
  .amaara{
    width: 100%;
    height: 100vh;
   position: relative;
    color: white;
    font-size: 1.5vw;
  }
  .para_four{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 5%;
    position: absolute;
    top: 0;
    left: 0;
  
  }
  .img_four
 {
     width: 50%; 
    height: 100%; 
     display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    
  }
  h2,h1{
    color: chocolate;
  }
   img{
    width: 59%;
    height: 40%;
  } 
  #media{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
  }