input{
    margin-top: 3%;
    margin-bottom: 4%;
    width: 47%;
    height: 3vh;
    border-radius: 7px;
}
.review{
    justify-content: center;
    margin-top: 10%;
    border-radius: 24px;
    background-color: #fff;
    width: 36%;
    height: 56vh;
    text-align: center;
    margin-left: 30%;
    box-shadow: 5px 5px 10px grey;
}
button{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    font-size: 30px;
    background-color: #12344d;
    color: white;
    border: none;
    margin-top: 5%;
}